/*@@@@@@@@@@@@@*/
/* Artist page */
/*@@@@@@@@@@@@@*/

#artist-container{
	/*background-color: #ffffff;*/
	text-align: center;
	position: relative;
	/*width: 1400px;*/
	/*border: 1px solid;*/
	/*box-shadow: 5px 3px 5px black;*/
	margin: 0 auto;
	height: 550px;
	border-bottom: 6px solid;

}

#artist-pic-container{
	position: absolute;
	/*left: 3vw;*/
	width: 35%;
	height: 550px;
	/*border: 1px solid;*/
	/*border-right: 3px solid;*/

}

#artist-pic{
	width: 70%;
	left: 5%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100%;
	border: 5px solid;
	border-color: #342938;
}

#artist-blurb{
	/*font-style: italic;*/
	/*border: 1px solid;*/
	overflow: auto;
}

#top-songs{
	position: absolute;
	/*border: 1px solid;*/
	left: 0;
}

#related-artists{
	position: absolute;
	right:10%;
}

#artist-title{
	font-size: 72px;
	/*margin-top: 50px;*/
	padding-top: 30px;
	margin-bottom: 30px;
	/*border: 1px solid;*/
}

#artist-content{
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
	margin-left: 35%;
	height: 550px;
	/*box-shadow: 0px 10px 5px black;*/
	overflow: auto;
}

.title-header{
	font-size: 36px;
	font-weight: bold;
	line-height: 60px;
	/*border: 1px solid;*/
}

.list-content{
	font-size: 20px;
	/*border: 1px solid;*/
}

#top-songs{
	/*float: left;*/
	/*margin-left: 25%;*/
	left: 40%;
}

#relevant-artists{
	float: left;
	margin-left: 25%;
}

.clear{
	clear: both;
}

#all-albums-title{
	position: relative;
	left: 5%;
	width: 100px;
	font-size: 72px;
	margin-top: 50px;
}
#all-albums{
	/*border: 1px solid;*/
	/*background-color: #ffffff;*/
	/*width: 1400px;*/
	/*height: 1000px;*/
	/*border: 1px solid;*/
	/*box-shadow: 5px 3px 5px black;*/
	/*margin: 0 auto;*/
}

.album-container {
	/*border: 1px solid;*/
	text-align: center;
	margin-left: .4vw;
	width: 24.2vw;
	height: 24.2vw;
	/*height: 30%;*/
	/*box-sizing: border-box;*/
	float: left;
	background-color: white;
	/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
	position: relative;
}

.album-art {
	width: 20vw;
	height: 20vw;
	margin: 2.4vw;
	/*border: 1px solid;*/
}

.album-text{
	/*TODO: left align?*/
	width: 18vw;
	height: 18vw;
	margin: 3vw;
	margin-top: 4vw;
	position: absolute;
	top: 0px;
	opacity: 0;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	overflow: auto;
}

.album-title{
	font-size: 24px;
}

.album-container:hover .album-art {
	filter: blur(4px);
	opacity: 0.4;
	transition: 0.1s;
}

.album-container:hover .album-text{
	opacity: 1;
	transition: 0.1s;
}



