/*@@@@@@@@@@@@@*/
/* Search page */
/*@@@@@@@@@@@@@*/


#search-container{
	/*text-align: center;*/
	position: relative;
	height: 500px;
	top: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

#search-container a{
	text-decoration: none;
	color: #222020;

}

#search-container #search-title{
	text-align: center;
	font-size: 55px;
	margin-top: 45px;
	margin-bottom: 45px;
	color: #171111;
	font-weight: 900;
}

#container #Artist-results{
	font-size: 50px;
	font-weight: 500;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 3%
}

#container #Song-results{
	font-size: 50px;
	font-weight: 500;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 3%;
}

#search-container .search-content{
	margin-bottom: 15px;
	position: relative;
	text-align: left;
	padding-left: 15%;
	color: #222020;
	font-size: 19px;
	height: 70px;
	line-height: 3;
}

.search-artist-pic{
	height: 70px;

}
.search-artist-name{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 2%;
	transition: 0.2s;
}

#search-container .search-artist-name:hover{
	color: darkgray;
	font-weight: 900;
	text-shadow: 4px #222020;
}